<main>


            
<div class="container">
                <ul class="list-group" id="Filmovi" >
                                <li  class="list-group-item bg-danger" *ngFor="let i of filmovi">
                                         <h2>{{i.ime}}</h2>
                                        <img src="{{i.path}}" 
                                        alt="{i.ime}" 
                                        class="img-responsive" 
                                         style="max-height: 300px;">
                                         <p>{{i.opis}}</p>
                                         <p>{{i.zanr}}</p>
                                        <p>{{i.glumci}}</p>
                                        <p>{{i.redatelj}}</p>
                                                                                                                                                                              
                                  </li>
                                 </ul>    
</div>
                
</main>


        

                   


                                   





             
                                
 
 
               
  
   

